doctype html
html(lang='en')
    head
        meta(charset='utf-8')
        meta(http-equiv='X-UA-Compatible', content='IE=edge')
        meta(name='viewport', content='width=device-width, initial-scale=1')
        meta(name='author', content='Krisp')
        link(rel='icon', href='imgs/icon.png')
        link(href='http://getbootstrap.com/dist/css/bootstrap.min.css', rel='stylesheet')
        link(href='./signin.css', rel='stylesheet')
        include htmls/landingHead.html
    body
        nav.navbar.navbar-default.navbar-fixed-top.navPadTop
            .container
                div
                    a(href='')
                        img(title='Home', src='imgs/icon.png', width='40px')
                    ul.nav.navbar.navbar-right.nbRight.fRight
                        a.dropdown-toggle.noULOH.avPic(href='#', data-toggle='dropdown', role='button', aria-haspopup='true', aria-expanded='false', width='40px')
                            label #{username}
                            |
                            img.img-circle(title='Account', src='imgs/'+icon+'.png', width='40px')
                        ul.dropdown-menu
                            li.dropdown-header Account Settings
                            li
                                a(href='actSettings/avat') Change Avatar
                            li
                                a(href='actSettings/user') Change Username
                            li
                                a(href='actSettings/pass') Change Password
                        |
                        a.btn.btn-primary(href='/sORed', name='log') Sign out
        .container-fluid.headPadTop
            .col-xs-12.col-sm-12.col-md-12.col-lg-12
                h1.largeTextC.logRegC  Welcome #{username}
                br
            .container-fluid
                .row
                    .col-md-3.col-lg-2.sidebar.padTop.friendSide
                        button.btn.btn-block(data-toggle='collapse', data-target='#collapseFriends')
                            span.glyphicon.glyphicon-user
                            |
                            b Friends List
                        #collapseFriends.collapse
                            ul.nav.nav-sidebar
                                h4
                                li
                                    .row
                                        .btn-group.btn-group-justified
                                            a.btn.btn-info(href='#', type='button', data-toggle='modal', data-target='#addFriendModal') Add Friend
                                            |
                                            a.btn.btn-success(href='#', type='button', data-toggle='modal', data-target='#invFriendModal') Invite Friend
                                li#friendsList.frounded
                    .col-xs-12.col-sm-12.col-md-9.col-lg-7.padTop
                        //creating a mixin to make imports easier
                        mixin gil(gname,glink,img)
                            .col-xs-3.col-sm-3.col-md-3.col-lg-3
                                a(href='/game/'+glink)
                                    button.btn.btn-primary.btn-block(type='button')
                                        img.img-circle.border-radius-500px(src='imgs/'+img, alt=' icon')
                                |
                                b.logRegC #{gname}

                        -var n = 0, cn = 0, imgs = gn.length;

                        while n<imgs
                            .textC.row
                                while cn<4 && n<imgs
                                    +gil(gn[n],gl[n],im[n])
                                    -cn++
                                    -n++
                            -cn=0
                    include htmls/landing.html

        script(src = '../js/landing.js')